<!DOCTYPE html>
<html>
	<head>
	<style>
		.quadro{
			width: 300px;
			height: 210px;
			background-color: rgb(108, 158, 247)
			text-align: center;
			padding-top: 13px;
  			padding-right: 10px;
  			padding-bottom: 10px;
  			padding-left: 10px;
			border: 1px solid brown;
  			border-radius: 25px;
			
		}
		body{
			text-align: center;
			padding-top: 100px;
  			
		}
	</style>
		<meta charset=”UTF-8” />
		<link rel=”favicon” charset=”favicon.ico” />
		<title>Cadastro</title>
	</head>
	<body bgcolor="#E0FFFF"><center>
		<br><br><br>
		<h1>
		Cadatro
		</h1>
		<form>
  			<div class="quadro" name="quadro">
			<p>
			<label for="user"><b>Nome:    </b></label>
    			<input type="text" placeholder="Digite seu nome . . ." name="name" required>
			<br><br>
    			<label for="email"><b>E-mail:  </b></label>
    			<input type="text" placeholder="Digite seu e-mail . . ." name="email" required>
			<br><br>
    			<label for="pass"><b>Senha:  </b></label>
    			<input type="password" placeholder="Digite sua senha . . ." name="pass" required>
			<br><br>
    			<label for="pass2"><b>Senha:  </b></label>
    			<input type="password" placeholder="Confirme sua senha. . ." name="pass2" required>
			<br><br>
    			<input type="button" value="Voltar" onclick="location.href='index.html';"> 
			<button type="submit">Cadastre-se</button>
			
			<p>
			</div>
    		</form>

	</body>
</html>